@model WebApplication2.Models.Category
 
<h2>Додавання категорії</h2>
<form asp-action="create" asp-controller="category">
    <p>
        <label asp-for="Name">Назва</label><br />
        <input type="text" asp-for="Name" />
    </p>
    <p>
        <input type="submit" value="Створити" />
    </p>
</form>